<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Enter Distance Matrix</title>
</head>
<body>
    <div>
        <h1>Enter Distance Matrix</h1>
        <form method="post">
            <textarea name="matrix" rows="10" cols="50" placeholder="Enter matrix values, separated by spaces, with rows on new lines"></textarea>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
